* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_47 {
  width: 482px;
  height: 267px;
  background: url("../images/v3_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_72 {
  width: 482px;
  height: 263px;
  background: url("../images/v1_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 193px;
  height: 263px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_63 {
  width: 107px;
  height: 160px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 86px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_66 {
  width: 97px;
  height: 237px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 235px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_68 {
  width: 131px;
  height: 168px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 284px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_65 {
  width: 82px;
  height: 131px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 193px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1_70 {
  width: 170px;
  height: 161px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 248px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v3_46 {
  width: 128px;
  height: 57px;
  background: url("../images/v3_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 236px;
  overflow: hidden;
}
.v2_6 {
  width: 128px;
  height: 14px;
  background: url("../images/v2_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 15px;
  overflow: hidden;
}
.v2_2 {
  width: 113px;
  height: 14px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 8px;
  overflow: hidden;
}
.v2_3 {
  width: 15px;
  height: 14px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 106px;
  border-radius: 50%;
}
.v2_4 {
  width: 15px;
  height: 14px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_36 {
  width: 96px;
  height: 10px;
  background: url("../images/v2_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1px;
  overflow: hidden;
}
.v2_37 {
  width: 85px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 6px;
  overflow: hidden;
}
.v2_38 {
  width: 11px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 80px;
  border-radius: 50%;
}
.v2_39 {
  width: 11px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_7 {
  width: 30px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 43px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v2_41 {
  width: 88px;
  height: 8px;
  background: url("../images/v2_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 2px;
  overflow: hidden;
}
.v2_31 {
  width: 88px;
  height: 8px;
  background: url("../images/v2_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_21 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 37px;
}
.v2_22 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 47px;
}
.v2_27 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 56px;
}
.v2_28 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 65px;
}
.v2_32 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 74px;
}
.v2_14 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2_16 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
}
.v2_18 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 19px;
}
.v2_19 {
  width: 9px;
  height: 8px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 28px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
